<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

<script>
var fetchUsers = function(){
  console.log("======== fetchUsers ========")
  var users = new Railsbone.Collections.Users();

  // http://backbonejs.org/#Events-catalog
  users.on("add",function(model, collection, options){
    // when a model is added to a collection.
    console.log("on add", arguments, model.cid, model.get("id"), model.get("name"));
  });
  users.on("remove",function(model, collection, options){
    // when a model is removed from a collection.
    console.log("on remove", arguments, model.cid, model.get("id"), model.get("name"));
  });
  users.on("update",function(model, options){
    // single event triggered after any number of models have been added or removed from a collection.
    console.log("on update", arguments);
  });
  users.on("reset",function(collection, options){
    // when the collection's entire contents have been replaced.
    console.log("on reset", arguments);
  });

  users.fetch({success:function(collection, response, options){
    console.log("fetch success: arguments=", arguments);
    //console.log("users=", users);
    //users.each(function(user){
    //  console.log("cid=", user.cid, "id=", user.get("id"), "name=", user.get("name"), "email=", user.get("email"), "url=", user.get("url"));
    //});
  }});
}
</script>

<button onclick="javascript:fetchUsers()">fetchUsers</button>
