<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

<div>
  <div>Create User:</div>
  <div>Name:<input id="name" /></div>
  <div>Email:<input id="email" /></div>
  <button id="createUser">createUser</button>
</div>

<div>
  <button id="fetchUsers">fetchUsers</button>
</div>

<div id="byview">
</div>

<script>
var users = new Railsbone.Collections.Users();

var fetchUsers = function(){
  console.log("======== fetchUsers ========")
  users.fetch({success:function(collection, response, options){
    console.log("fetch success: arguments=", arguments);
  }});
}

var createUser = function(name, email){
  console.log("======== createUser ========");
  users.create({name:name, email:email}, {success:function(){
    console.log("create success: arguments=", arguments);
  }});
}

$("button#fetchUsers").click(function(){
  fetchUsers();
});

$("button#createUser").click(function(){
  var name  = $('input#name').val();
  var email = $('input#email').val();
  if(name && email){
    createUser(name, email);
    $('input#name').val("");
    $('input#email').val("");
  }
});

$(function(){
  fetchUsers();

  var usersView = new Railsbone.Views.UsersIndex({collection:users});
  $("#byview").append(usersView.$el);
});

</script>
