<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

<div>
  <div>Create User:</div>
  <div>Name:<input id="name" /></div>
  <div>Email:<input id="email" /></div>
  <button id="createUser">createUser</button>
</div>

<div>
  <button id="fetchUsers">fetchUsers</button>
</div>

<div>
<ul id="users">
</ul>
</div>

<script>
var users = new Railsbone.Collections.Users();
// http://backbonejs.org/#Events-catalog
users.on("add",function(model, collection, options){
  // when a model is added to a collection.
  console.log("users on add", arguments, model.cid, model.get("id"), model.get("name"));
  var li = $("<li />").attr("id","user_"+model.cid).html(userHtml(model));
  $("ul#users").append(li);
});
users.on("remove",function(model, collection, options){
  // when a model is removed from a collection.
  console.log("users on remove", arguments, model.cid, model.get("id"), model.get("name"));
  $("ul#users").find("#user_"+model.cid).remove();
});
users.on("change",function(model, options){
  // when a model's attributes have changed.
  console.log("users on change", arguments, model.cid, model.get("id"), model.get("name"));
  $("ul#users").find("#user_"+model.cid).html(userHtml(model));
});
users.on("all", function(){
  var args = Array.prototype.slice.call(arguments);
  var event_name = args.shift();
  if(0<=["add","remove","change"].indexOf(event_name)){ return; }
  console.log("users on "+event_name, args);
});

var userHtml = function(user)
{
  return _.escape(
       "id="         + user.get("id")
    + " name="       + user.get("name")
    + " email="      + user.get("email")
    + " url="        + user.get("url")
  ) + "<a class='delete'>[x]</a>";
}

var fetchUsers = function(){
  console.log("======== fetchUsers ========")
  users.fetch({success:function(collection, response, options){
    console.log("fetch success: arguments=", arguments);
  }});
}

var createUser = function(name, email){
  console.log("======== createUser ========");
  /*
  var user = new Railsbone.Models.User({name:name, email:email});
  user.on("all", function(){
    var args = Array.prototype.slice.call(arguments);
    var event_name = args.shift();
    console.log("user on "+event_name, args);
  });
  user.save({}, {success:function(model, response, options){
    console.log("save success: arguments=", arguments);
  }});
  */
  users.create({name:name, email:email}, {success:function(){
    console.log("create success: arguments=", arguments);
  }});
}

var deleteUser = function(user){
  console.log("======== deleteUser ========");
  user.destroy({success:function(model, response, options){
    console.log("destroy success: arguments=", arguments);
  }});
}

$("button#fetchUsers").click(function(){
  fetchUsers();
});

$("button#createUser").click(function(){
  var name  = $('input#name').val();
  var email = $('input#email').val();
  if(name && email){
    createUser(name, email);
    $('input#name').val("");
    $('input#email').val("");
  }
});

$("ul#users").on("click", "a.delete", function(){
  var cid = $(this).closest("li").attr("id").match(/^user_(.+)$/)[1];
  var user = users.find(function(user){ return user.cid == cid; })
  deleteUser(user);
});

$(function(){
  fetchUsers();
});

</script>
